* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  height: 100vh;
  width: 100vw;
  --app-area-color: #e4e0e0;
  --app-bg-color: #fff;
}

body {
  background-color: var(--app-area-color);
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  font-size: 12px;
  width: 100%;
}

#app {
  background-color: var(--app-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100%;
}

.lcd {
  border-width: thin;
  border: 1px solid #cecece;
  font-size: 2em;
  height: 2em;
  padding: 10px;
  text-align: right;
}

.buttons {
  margin-top: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4), 1fr));
}

.buttons button {
  appearance: none;
  border-width: thin;
  font-size: 2em;
  margin: 2px;
  min-height: 40px;
  transition: transform 0.2s ease;
  will-change: tranform;
}

:focus {
  outline: none;
}

.buttons button:active {
  transform: scale(0.95);
}

#app,
.lcd,
.buttons button {
  border-radius: 5px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
  #app {
    box-shadow: 0px 1px 2px #c2c0c0;
    height: max-content;
    max-width: 400px;
    margin-top: 10px;
  }
}
